.TableContainer {
  width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
}

.Table {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
th {
  color: #fff;
  background-color: #192a56;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn-edit,
.btn-delete {
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 3px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.btn-edit {
  background-color: #6c5ce7;
}
.btn-delete {
  background-color: #d63031;
}
