.Filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #192a56;
  padding: 20px;
}

.dropdown {
  width: 150px;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-view {
  color: #fff;
  background-color: #00b894;
  border: none;
  width: 150px;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
}
